html {
  height: 100%;
}

html,body {
  margin: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 10rem;
}

#portfolio, #about {
  background-color: #e9e6f2;
}

.home-header {
  background-color: #808eff;
  display: flex;
  justify-content: space-between;
}

.section-links {
  display: inline-flex;
  padding-left: 0;
}

.section-links li {
  margin: 0.5em;
  align-self: flex-end;
}

.about-section {
  column-count: 2;
}

.about-content {
  display: inline-block;
}

.about-content p {
  font-family: "Palatino Linotype", serif;
  text-align: left;
  margin: 0;
}

.side-content {
  height: 10em;
  padding-top: 2em;
  width: 90%;
}

.portfolio-img {
  width: 100%;
  border-radius: 2em;
  align-self: center;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio-grid img {
   margin: 0.5em;
}

.social-media-buttons {
  display: inline-block;
  padding: 0 1em;
}

.social-media-buttons li{
  display: inline;
  font-size: 2em;
  margin: 0.25em;
}

.social-media-buttons li:first-child {
  margin-left: 0;
}

.info-links, .footer-icon {
  text-decoration: none;
  color: #000;
}

.hover-link:hover {
  color: #fff;
}

.navigation-links {
  display: inline-flex;
  padding: 0 1em;
}

.none-list-decoration {
  list-style-type: none;
}

.main-content {
  padding: 1em;
}

.main-footer {
  background-color: #808eff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  display: inline;
  padding: 0.2em;
  font-family: "Palatino Linotype";
  font-size: 3em;
}

span {
  align-self: center;
}
